* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  font-family: "Trebuchet MS", Arial, sans-serif; }

.padding-horz {
  padding: 0 5%; }

p {
  margin-bottom: 1em; }

.clx__outer {
  margin-bottom: 1em; }

.clx__loader {
  background: #000 !important;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  width: 60px;
  height: 60px; }
