// you can border-box if you want, doesn't matter
* {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

@mixin at2x( $file, $type, $w: auto, $h: auto, $i: false ) {
	$important: if($i, "!important", ""); // if the $i var is passed, go ahead and set it to !important and add it to the mixin
    $at2x_path: $file + '@2x.' + $type;
    $pixelRatio : 1.5;

    background-image: url($file + '.' + $type) #{$important};
    background-size: $w $h #{$important};
    
    @media (-webkit-min-device-pixel-ratio: $pixelRatio), (min-resolution: $pixelRatio + 'dppx'), (min-resolution: 96 * $pixelRatio + 'dpi') {
        background-image: url($at2x_path) #{$important};
        background-size: $w $h #{$important};
    }
}


body, html {
	font-family: "Trebuchet MS", Arial, sans-serif;

}
.padding-horz {
	padding: 0 5%;
}
p {
	margin-bottom: 1em;
}


// This isn't necessary to the plugin, but is needed for the layout
.clx__outer {
	margin-bottom: 1em;
}

// This is the only Carallax-specific style you NEED to include, and that's only if you want
// to customize the loader
.clx__loader {
	background: #000 !important;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	width: 60px;
	height: 60px;
}