* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  font-family: "Trebuchet MS", Arial, sans-serif; }

.padding-horz {
  padding: 0 5%; }

p {
  margin-bottom: 1em; }

.clx__loader {
  background-image: url("../images/loader.png") ;
  background-size: 61px 61px ;
  background-position: center center;
  background-repeat: no-repeat; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
    .clx__loader {
      background-image: url("../images/loader@2x.png") ;
      background-size: 61px 61px ; } }

#carallax_sub .clx_slide {
  background: #1b1b1b !important; }
  #carallax_sub .clx_slide .clx__bgLayer1,
  #carallax_sub .clx_slide .clx__bgLayer2,
  #carallax_sub .clx_slide .clx__bgLayer3 {
    display: none; }
  #carallax_sub .clx_slide .clx__bgLayer1 {
    background: url("../images/carallax_assets/bg_vector.png") no-repeat bottom center;
    background-size: contain; }
  #carallax_sub .clx_slide .clx__bgLayer2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.25)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#40ffffff',GradientType=0 );
    /* IE6-9 */
    zoom: 1; }
  #carallax_sub .clx_slide .clx__bgLayer3 {
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    opacity: .5; }
  #carallax_sub .clx_slide .vb-util_blur-canvas {
    position: absolute;
    top: 0;
    left: 0; }
#carallax_sub .clx_info {
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: left;
  color: white;
  font-size: 1em; }
  #carallax_sub .clx_info .clx_content-wrap {
    padding: 3.5%; }
  #carallax_sub .clx_info .clx_img-wrap {
    background-position: center center;
    background-size: cover;
    width: 100%;
    padding-top: 30%;
    height: 150px;
    position: relative;
    display: none; }
  #carallax_sub .clx_info .clx_title {
    background: transparent;
    padding: 0; }
  #carallax_sub .clx_info .pretitle {
    display: block;
    font-size: .5em;
    font-style: italic;
    color: #8c8c8c; }
  #carallax_sub .clx_info .clx_subtitle {
    font-weight: bold;
    color: white;
    font-size: .9em;
    margin-bottom: 1em; }
  #carallax_sub .clx_info .byline {
    margin-bottom: 1em;
    font-style: italic;
    font-size: .8em;
    color: white; }
  #carallax_sub .clx_info .clx_body {
    padding: 0;
    margin-bottom: 1em;
    background: none;
    color: #cecece;
    font-size: .9em; }
  #carallax_sub .clx_info hr {
    border: none;
    height: 1px;
    line-height: 1px;
    background: #9d1b22;
    width: 140px;
    margin: 0 0 1em;
    float: left; }
    #carallax_sub .clx_info hr + * {
      clear: left; }
  #carallax_sub .clx_info footer a {
    color: #9d1b22;
    text-decoration: none;
    font-size: .9em; }
    #carallax_sub .clx_info footer a:hover {
      text-decoration: underline; }

.clx__isLoaded #carallax_sub .clx_info .clx_img-wrap {
  display: block; }

@media only all and (min-width: 500px) {
  #carallax_sub .clx_slide .clx__bgLayer1,
  #carallax_sub .clx_slide .clx__bgLayer2,
  #carallax_sub .clx_slide .clx__bgLayer3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block; }
  #carallax_sub .clx_info {
    width: 90%;
    height: auto;
    left: 5%;
    max-width: 950px; }
    #carallax_sub .clx_info .pretitle {
      font-size: .4em; }
    #carallax_sub .clx_info .clx_subtitle {
      font-size: 1em; } }
@media only all and (min-width: 768px) {
  #carallax_sub .clx_info .clx_img-wrap {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 33%;
    height: auto;
    padding: 0; }
  #carallax_sub .clx_info .clx_content-wrap {
    width: 66%;
    float: right; } }
@media only all and (min-width: 950px) {
  #carallax_sub .clx_info {
    width: 950px;
    margin-left: -475px;
    left: 50%; }
    #carallax_sub .clx_info .clx_content-wrap {
      padding-right: 90px; }
    #carallax_sub .clx_info .clx__title {
      font-size: 2em; } }
