/* // you can border-box if you want, doesn't matter
* {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
*/

@mixin at2x( $file, $type, $w: auto, $h: auto, $i: false ) {
	$important: if($i, "!important", ""); // if the $i var is passed, go ahead and set it to !important and add it to the mixin
    $at2x_path: $file + '@2x.' + $type;
    $pixelRatio : 1.5;

    background-image: url($file + '.' + $type) #{$important};
    background-size: $w $h #{$important};
    
    @media (-webkit-min-device-pixel-ratio: $pixelRatio), (min-resolution: $pixelRatio + 'dppx'), (min-resolution: 96 * $pixelRatio + 'dpi') {
        background-image: url($at2x_path) #{$important};
        background-size: $w $h #{$important};
    }
}


// This is the only Carallax-specific style you NEED to include, and that's only if you want
// to customize the loader
.clx__loader {
	@include at2x( "../images/loader", "png", 61px, 61px );
	background-position: center center;
	background-repeat: no-repeat;
}


#carallax_sub {
	$red : #9d1b22;
	.clx_slide {
		background: #1b1b1b !important;

		.clx__bgLayer1,
		.clx__bgLayer2,
		.clx__bgLayer3 {
			display: none;
		}
		.clx__bgLayer1 {
			background: url("../images/carallax_assets/bg_vector.png" ) no-repeat bottom center;
			background-size: contain;
		}
		.clx__bgLayer2 {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.25))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#40ffffff',GradientType=0 ); /* IE6-9 */

			zoom: 1;

		}
		.clx__bgLayer3 {
			// visibility: hidden;
			-webkit-transition: opacity 1s;
			transition: opacity 1s;
			opacity: .5;
			// &.processed {
			// 	visibility: visible;
			// 	opacity: .5;
			// }
		}
		.vb-util_blur-canvas {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.clx_info {
		background: #1b1b1b;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		text-align: left;
		color : white;	
		font-size: 1em;
		.clx_content-wrap {
			padding: 3.5%;
		}
		.clx_img-wrap {
			background-position: center center;
			background-size: cover;
			width: 100%;
			padding-top: 30%;
			height: 150px;
			position: relative;
			display: none;
		}
		.clx_title {
			background: transparent;
			padding: 0;
		}
		.pretitle {
			display: block;
			font-size: .5em;
			font-style: italic;
			color: #8c8c8c;
		}
		.clx_subtitle {
			font-weight: bold;
			color: white;
			font-size: .9em;
			margin-bottom: 1em;
		}
		.byline {
			margin-bottom: 1em;
			font-style: italic;
			font-size: .8em;
			color: white;
		}
		.clx_body {
			padding: 0;
			margin-bottom: 1em;
			background: none;
			color: #cecece;
			font-size: .9em;
		}
		hr {
			border: none;
			height: 1px;
			line-height: 1px;
			background: $red;
			width: 140px;
			margin: 0 0 1em;
			float: left;
			& + * {
				clear: left;
			}
		}
		footer a {
			color: $red;
			text-decoration: none;
			font-size: .9em;

			&:hover {
				text-decoration: underline;
			}
		}
	}

}
.clx__isLoaded {
	#carallax_sub .clx_info .clx_img-wrap {
		display: block;
	}
}
@media only all and ( min-width:500px ) { 
	#carallax_sub {
		.clx_slide {
			.clx__bgLayer1,
			.clx__bgLayer2,
			.clx__bgLayer3 {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: block;
			}
		}
		.clx_info {
			width: 90%;
			height: auto;
			left: 5%;
			max-width: 950px;
			.pretitle {
				font-size: .4em;
			}
			.clx_subtitle {
				font-size: 1em;
			}
		}
	}
}

@media only all and ( min-width:768px ) {
	#carallax_sub {
		.clx_info {
			// height: 100%;
			// display: table;
			.clx_img-wrap {
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				width: 33%;
				height: auto;
				padding: 0;
			}
			.clx_content-wrap {
				width: 66%;
				float: right;
				// padding-right: 90px;
			}
		}
	}
}
@media only all and ( min-width:950px ) {
	#carallax_sub {
		.clx_info {
			width: 950px;
			margin-left: -475px;
			left: 50%;
			.clx_content-wrap {
				padding-right: 90px;
			}
			.clx__title {
				font-size: 2em;
			}
		}
	}
}